#!/bin/bash

export ACTUAL_ENV="${MIX_ENV:-"dev"}"

export MIX_ENV="dev"

export DATABASE_POOL_SIZE="20"
export DATABASE_URL="${DATABASE_URL:-"postgres://postgres:postgres@localhost:5432/home_inventory_dev"}"
export DEBUG_ERRORS="true"
export PORT="4000"
export SECRET_KEY_BASE="$(mix phx.gen.secret)"
export SESSION_KEY="home_inventory"
export SESSION_SIGNING_SALT="$(mix phx.gen.secret)"

# if MIX_ENV is dev
if [[ "${MIX_ENV}" == "dev" ]]; then
  export PORT="4001"
  export DATABASE_POOL_SIZE="5"
fi

export CANONICAL_URL="http://localhost:${PORT}"
export MIX_ENV="${ACTUAL_ENV}"

echo "CANONICAL_URL=${CANONICAL_URL}
DATABASE_POOL_SIZE=${DATABASE_POOL_SIZE}
DATABASE_URL=${DATABASE_URL}
DEBUG_ERRORS=${DEBUG_ERRORS}
MIX_ENV=${MIX_ENV}
PORT=${PORT}
SECRET_KEY_BASE=${SECRET_KEY_BASE}
SESSION_KEY=${SESSION_KEY}
SESSION_SIGNING_SALT=${SESSION_SIGNING_SALT}" > ".env.${MIX_ENV}"
