<section class="hero is-medium">
  <div class="hero-body">
    <p class="title">
      Welcome to Home Inventory
    </p>
    <p class="subtitle">
      A place to keep track of your home's inventory
    </p>
  </div>
</section>